
@{ Layout = null;
                ViewBag.Title = "Login"; }

@Html.Partial("~/Views/Shared/_Header.cshtml")
<body class="gray-bg">
    <div id="informMessage" class="alert alert-success animated bounceInRight" style="display:none;"></div>
    <div id="errorMessage" class="alert alert-danger animated shake" style="display:none;"></div>

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h3 class="font-bold">Forgot password</h3>



                    <div class="row">

                        <div class="col-lg-12">
                            @using (Html.BeginForm("", "", FormMethod.Post, new { id = "loginForm" }))
                            {
                        <div class="form-group">
                            <input id="staff_no" type="text" class="form-control" placeholder="Staff No." required="">
                            <span id="staff_no_error" class="text-danger"></span>
                        </div>
                                        <div class="form-group">
                                            <input type="email" id="email" class="form-control" placeholder="Email" required="">
                                            <span id="email_error" class="text-danger"></span>
                                        </div>}
                            <section class="progress-demo">
                                <button class="btn btn-primary block full-width m-b ladda-button" data-style="zoom-in" onclick="changePassword()">Forget Password</button>
                            </section>
                            <a class="btn btn-success mt-2 block full-width " href="@Url.Action("Login", "User")">Go Back to Login Page</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <strong>Copyright</strong> Kuan Jiun Ying &copy; @DateTime.Now.Year
            </div>

        </div>
    </div>

</body>
@Scripts.Render("~/main")

@Styles.Render("~/plugins/laddaStyles")
@Scripts.Render("~/plugins/ladda")
<script>
    @*var returnMessage="";
    var returnMessage="";*@
   $(document).ready(function () {

           
        Ladda.bind('.progress-demo .ladda-button', {
            callback: function (instance) {

                var interval = setInterval(function () {
                    
                    if (returnMessage != "" ) {
                        instance.stop();
                        clearInterval(interval);
                        returnMessage = "";
                        
                    }
                }, 200);
            }
        });
    });
    function changePassword() {



        var isValid = true; // Flag to check overall form validity

        if (!validateField("staff_no", "Staff No. field is required.")) {
            isValid = false;
        }


        if (!validateField("email", "Email field is required.")) {
            isValid = false;
        }



        // Add more validation for other fields as needed

        if (!isValid) {
            errorMessage("Please make sure all required fields is filled");
            returnMessage = "Please make sure all required fields is filled";
            return;
        }
        var userData = {
            staff_no: $("#staff_no").val(),
            email: $("#email").val(),
            model: "U" //MODEL PARTICIPANT

        };

        // Serialize the object into a JSON string
        var jsonData = JSON.stringify(userData);

        // Make an AJAX request
        $.ajax({
            type: "POST",
            url: "/Home/SendEmailForChangePassword", // Replace with the actual URL
            data: jsonData,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    successMessage(data.message);
                    returnMessage = data.message;

                } else {
                    errorMessage(data.error_message);

                    returnMessage = data.error_message;

                }
            },
            error: function (data) {
                errorMessage(data.error_message);
                returnMessage = data.error_message;
            }
        });
    }
</script>
